.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.img {
    border-radius: 50%;
    width: clamp(2rem, 3vw, 6rem);
    height: clamp(2rem, 3vw, 6rem);
}